<% content_for(:title, 'ウーマンラッシュアワーモード') %>
<div class="container">
  <div class="row">
  <%= render "shared/header" %>
    <div class="position-absolute h-100 w-100 m-0 d-flex flex-column align-items-center justify-content-center ">
      <h1>このトレーニングについて</h1>
      <div class="fake mb-5"></div>
        <p class= "mb-3">あなたはかなりゆっくり話しており荒療治が必要です<br>
        これからウーマンラッシュアワーの漫才の音声がフリースタイルのビートに乗って流れます<br>
        カラオケの要領で口に出して話してみましょう<br>
        滑舌のテストもしているので気をつけてください<br>
        ※動画を途中で停止させないでください<br>
        ※かなりハイスピードなので心してください
        </p>
        <%= video_tag("/movies/woman.mp4",controls: :true, class: 'video-content pb-3', id:'woman_video') %>
      <div class="training_border mb-3"></div>
      <p id="training_status">動画の再生と同時に計測スタートです</p>
      <div class="training_border mt-3 mb-5"></div>
    </div>
  </div>
  
  <footer>
    <div class="fixed-bottom">
      <div class ="text-center">
        <div class="row">
          <div class="col-md-2 offset-md-3">
            <%= link_to '利用規約', '#', class:'col-color' %>
          </div>
          <div class="col-md-2">
            <%= link_to 'プライバシーポリシー', '#', class:'col-color' %>
          </div>
          <div class="col-md-2">
            <%= link_to 'お問い合わせ', '#', class:'col-color'%>
          </div>
          <div class="col-12">
            <p><font color = "white">Copyright ©2021. hayakuchi checker</font></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
