<% content_for(:title, '結果画面') %>
<div class="container">
  <div class="row">
    <div class="position-absolute h-100 w-100 m-0 d-flex flex-column align-items-center justify-content-center ">
      <h1 class="game_result mb-4">計測お疲れ様でした!</h1>
      <div class= "result_messages">
        <% if @game.fast_talking_score<=5.5 && @game.fast_talking_score>=4.5 %>
          <div class= "result_message">計測結果: <%= @game.talking_time %>秒間に<%= @game.word_count %>文字発しました(1秒間に<%= @game.fast_talking_score %>文字のペース)</div>
          理想のペースは1秒間に5文字です<br>
          あなたの話す速度は理想のペースに近いです<br>
          繰り返し練習することで体に速度を焼き付けましょう!
        <% elsif @game.fast_talking_score<4.5 %>
          <div class= "result_message">計測結果: <%= @game.talking_time %>秒間に<%= @game.word_count %>文字発しました(1秒間に<%= @game.fast_talking_score %>文字のペース)</div>
          理想のペースは1秒間に5文字です<br>
          残念ながらあなたの速度はかなり遅いです・・・<br>
          話す速度が遅すぎると相手にのんびりとした印象を与えてしまいます
        <% elsif @game.fast_talking_score>5.5 %>
        <div class= "result_message">計測結果: <%= @game.talking_time %>秒間に<%= @game.word_count %>文字発しました(1秒間に<%= @game.fast_talking_score %>文字のペース)</div>
          理想のペースは1秒間に5文字です<br>
          残念ながらあなたはかなりの早口です・・・<br>
          話す速度が速すぎると「聞き取りにくくて内容が入ってこない」<br>
          といった印象を与えてしまいます
        <% end %>
      </div>
    
      <div class= "audio_result mt-5 mb-5">
        <div class= "d-inline-block mr-5">
          <p class="text-center">あなたの元の音声</p>
          <%=audio_tag("#{@game.voice_data.url}", controls: true, id:"audio_resource") %>
        </div>
        <div class= "d-inline-block">
          <p class= "text-center">理想の速度の音声を聞いてみましょう</p>
          <%=audio_tag("#{@game.voice_data.url}", controls: true, id:"audio_mixed") %>
        </div>
      </div>
      <div class="training_menu m-3">
        <% if @game.fast_talking_score<4.5 %>
          <p>超早口モードで速く話すトレーニングをしてみませんか？<p><br>
          <%= link_to high_speed_mode_trainings_path, data: {"turbolinks" => false} do %>
            <button class="btn btn-light btn-primary btn-lg mx-5 mb-5">早速挑戦する</button>
          <% end %>
        <% elsif @game.fast_talking_score>5.5 %>
          <p>超ゆっくりモードでゆっくり話すトレーニングをしてみませんか？<p>
          <%= link_to high_slow_mode_trainings_path, data: {"turbolinks" => false} do %>
            <button class="btn btn-primary btn-lg mx-5 mb-5">早速挑戦する</button>
          <% end %>
        <% end %>
        <%= link_to new_game_path, data: {"turbolinks" => false} do %>
          <button class="btn btn-primary btn-lg mx-5 mb-5">再計測する</button>
        <% end %>
      </div>
      
    </div>
  </div>
</div>

<script>

//console.log(gon.voice)
//var binaryData = [];
//binaryData.push(gon.voice);
//console.log(binaryData)
//document.getElementById("audio").src== gon.voice
const audio_mixed = document.getElementById("audio_mixed");
audio_mixed.playbackRate = 5/gon.fast_talking_score;
</script>
